@import "tw-animate-css";
@import "tailwindcss";

h1, h2, h3, h4, h5, h6 { 
    font-family: "Carattere", cursive;
    font-weight: 400;
    font-style: bold;
} 
h3, h4, h5, h6 {
    /*font-family: 'Cormorant Garamond', serif;*/
    /*font-family: 'Cormorant Garamond', serif;*/
}
h1 {
    @apply text-8xl;
}
h2 {
    @apply text-6xl;
}
h3 {
    @apply text-5xl;
}
h4 {
    @apply text-4xl;
}
h5 { 
    @apply text-3xl;
}
h6 {
    @apply text-2xl;
}
main {
    @apply h-screen min-h-screen max-h-screen flex flex-col;
    section {
        @apply bg-cover bg-center bg-transparent;
        @apply flex-grow bg-rose-300 w-full text-white text-shadow-amber-200 font-bold py-4 px-4; 
        background-size: 109%;
    }
    footer {
        z-index: 4;
        @apply bg-fuchsia-300/30 text-white;
    }
}
